<% campaigns.forEach(function (campaign) { %>
    <a href="/campaigns/<%= campaign._id %>/" class="campaign header box">
        <div class="header-image" style="background-image: url(<%= campaign.data.header %>)"></div>
        <div class="list-content">
            <h4><%= campaign.name %></h4>
            <br>
            <span>
                <% if(Date.now() > campaign.data.end) { %>
                    Ended <%= (new Date(campaign.data.end)).toGMTString() %>.
                <% } else if (Date.now() < campaign.data.start) { %>
                    Starts <%= (new Date(campaign.data.end)).toGMTString() %>.
                <% } else { %>
                    <b><%= Math.floor((campaign.data.end - Date.now()) / 1000 / 60 / 60 / 24) %></b> days left.
                <% } %>
            </span>
            <% if(typeof(campaign.wallet) != "undefined") { %>
                <br>
                <span><b><%= campaign.wallet.toLocaleString() %> ISK</b> of <%= campaign.data.goal.toLocaleString() %> ISK</span>
                <br>
                <div class="progress">
                    <% if(campaign.wallet != 0) { %>
                        <div class="percentage" style="width: <%= Math.min(100, (campaign.wallet / campaign.data.goal) * 100) %>%;"></div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </a>
<% }) %>