<% var formData = typeof(campaign) != "undefined" ? campaign : { name: "", description: "", data: { header: "", goal: 0 } }; %>
<form class="hidden-ctn" method="POST" action="/campaigns/<%= formData._id ? formData._id + "/" : "" %>">
    <input type="hidden" name="_csrf" value="<%= csrf_token %>">
    <label>name</label>
    <br>
    <input required type="text" name="name" value="<%= formData.name %>" />
    <br>
    <label>description</label>
    <br>
    <textarea required name="description"><%= formData.description %></textarea>
    <br>
    <label>header image url</label>
    <br>
    <input required type="text" name="header" value="<%= formData.data.header %>" />
    <br>
    <label>goal</label>
    <br>
    <input required type="number" name="goal" value="<%= formData.data.goal %>" />
    <br>
    <label>start date</label>
    <br>
    <input required type="text" name="start" placeholder="yyyy-mm-dd" value="<%= formData.data.start ? new Date(formData.data.start).toJSON().split("T")[0] : "" %>" />
    <br>
    <label>end date</label>
    <br>
    <input required type="text" name="end" placeholder="yyyy-mm-dd" value="<%= formData.data.end ? new Date(formData.data.end).toJSON().split("T")[0] : "" %>" />
    <br>
    <% if(formData.owner) { %>
        <label>owner id</label>
        <br>
        <input required type="text" name="owner_id" value="<%= formData.owner.id %>" />
        <br>
        <label>owner name</label>
        <br>
        <input required type="text" name="owner_name" value="<%= formData.owner.name %>" />
        <br>
    <% } %>
    <button>submit</button>
</form>