<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>Campaign - <%= campaign.name %></title>
    </head>
    <body>
        <% include nav.ejs %>
        <% if (character && character.is_admin) { %>
            <div class="create-form header box">
                <label class="collapsible">
                    <input type="checkbox">
                    <span class="hidden-hl center full-width-block">adjust this campaign</span>
                    <% include campaignform.ejs %>
                </label>
            </div>
        <% } %>
        <% if (campaign.rejected) { %>
            <div class="create-form header box"><p class="hidden-hl center full-width-block rel">Campaign rejected:<br><%= campaign.rejected.description %></p></div>
        <% } else { %>
            <% if (!campaign.rejected && !campaign.approved) { %>
                <div class="create-form header box"><p class="hidden-hl center full-width-block rel">Campaign has not been approved yet.</p></div>
            <% } %>
            <% if (campaign.approved || (character && character.is_admin)) { %>
                <div class="container">
                    <div class="header inset-box">
                        <div class="header-image" style="background-image: url(<%= campaign.data.header %>)"></div>
                        <% if (Date.now() > campaign.data.end && campaign.wallet != 0 && Math.round(campaign.wallet * 100) <= Math.round(campaign.payout * 100)) { %>
                            <div class="paid-out"><h1>paid out</h1></div>
                        <% } %>
                        <div class="details">
                            <% if(campaign.owner) { %>
                                <div class="character">
                                    <span>creator</span>
                                    <b><%= campaign.owner.name %></b>
                                    <img src="https://imageserver.eveonline.com/Character/<%= campaign.owner.id %>_64.jpg">
                                </div>
                                <br>
                            <% } %>
                            <div class="date">
                                <% if(Date.now() > campaign.data.end) { %>
                                    Ended <%= (new Date(campaign.data.end)).toGMTString() %>.
                                <% } else if (Date.now() < campaign.data.start) { %>
                                    Starts <%= (new Date(campaign.data.end)).toGMTString() %>.
                                <% } else { %>
                                    <b><%= Math.floor((campaign.data.end - Date.now()) / 1000 / 60 / 60 / 24) %></b> days left.
                                <% } %>
                            </div>
                            <br>
                            <% if(campaign.data.start < Date.now() && Date.now() < campaign.data.end) { %>
                                <label>donation key</label>
                                <br>
                                <input id="donation_key" type="text" value="<%= campaign._id %>" />
                                <br>

                                <% if (character && character.balance > 0) { %>
                                    <label class="collapsible">
                                        <input type="checkbox">
                                        <span class="center hidden-hl btn">donate from your virtual wallet</span>
                                        <form class="hidden-ctn" method="POST" action="./donate/">
                                            <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                                            <input type="number" name="amount" class="center" value="0" max="<%= character.balance %>" min="0" required />
                                            <button>donate</button>
                                        </form>
                                    </label>
                                    <br>
                                <% } %>
                            <% } %>
                            <span><b><%= campaign.wallet.toLocaleString("en-US", { maximumFractionDigits: 2 }) %> ISK</b> of <%= campaign.data.goal.toLocaleString("en-US", { maximumFractionDigits: 2 }) %> ISK</span>
                            <% if (character && character.is_admin) { %>
                                <br>
                                <span>To be payed out: <%= (campaign.wallet * ((100 - tax) / 100)).toLocaleString("en-US", { maximumFractionDigits: 2 }) %> ISK</span>
                            <% } %>
                            <div class="progress">
                                <% if(campaign.wallet != 0) { %>
                                    <div class="percentage" style="width: <%= Math.min(100, (campaign.wallet / campaign.data.goal) * 100) %>%;"></div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="title">
                            <h1><%= campaign.name %></h1>
                        </div>
                        <div class="description">
                            <%- campaign.description.replace(/\n/g, "<br>") %>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
        <% include footer.ejs %>
    </body>
</html>