<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>Campaign - <%= campaign.name %></title>
    </head>
    <body>
        <% include nav.ejs %>

        <div class="container">
            <div class="header">
                <div class="header-image" style="background-image: url(<%= campaign.data.header %>)"></div>
                <div class="details">
                    <% if(campaign.data.owner) { %>
                        <div class="character">
                            <span>creator</span>
                            <b><%= campaign.data.owner.name %></b>
                            <img src="https://imageserver.eveonline.com/Character/<%= campaign.data.owner.id %>_64.jpg">
                        </div>
                        <br>
                    <% } %>
                    <div class="date">
                        <% if(Date.now() > campaign.data.end) { %>
                            Ended <%= (new Date(campaign.data.end)).toGMTString() %>.
                        <% } else if (Date.now() < campaign.data.start) { %>
                            Starts <%= (new Date(campaign.data.end)).toGMTString() %>.
                        <% } else { %>
                            <b><%= Math.floor((campaign.data.end - Date.now()) / 1000 / 60 / 60 / 24) %></b> days left.
                        <% } %>
                    </div>
                    <br>
                    <% if(campaign.data.start < Date.now() && Date.now() < campaign.data.end) { %>
                        <label>donation key</label>
                        <br>
                        <input type="text" value="<%= campaign._id %>" disabled />
                        <br>

                        <% if (data.user.id && data.user.balance > 0) { %>
                            <form method="POST" action="./donate/">
                                <input type="number" name="amount" max="<%= data.user.balance %>" min="0" required />
                                <button>Donate</button>
                            </form>
                        <% } %>
                    <% } %>
                    <div class="progress">
                        <div class="percentage" style="width: <%= Math.min(100, (campaign.wallet / campaign.data.goal) * 100) %>%;"></div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <h1><%= campaign.name %></h1>
                </div>
                <div class="description">
                    <%- campaign.description.replace(/\n/g, "<br>") %>
                </div>
            </div>
        </div>


        <!--
        <h1><%= campaign.name %></h1>
        <div><%= campaign.description %></div>

        <% if(campaign.data.owner) { %>
            <div>
                <label>Creator:</label>
                <img src="https://imageserver.eveonline.com/Character/<%= campaign.data.owner.id %>_32.jpg">
                <span><%= campaign.data.owner.name %></span>
            </div>
        <% } %>

        <progress max="<%= campaign.data.goal %>" value="<%= campaign.wallet %>"></progress>

        <% if(campaign.data.start < Date.now() && Date.now() < campaign.data.end) { %>
            <label>Donation Key:</label>
            <pre><%= campaign._id %></pre>

            <% if (data.user.id && data.user.balance > 0) { %>
                <form method="POST" action="./donate/">
                    <input type="number" name="amount" max="<%= data.user.balance %>" min="0" required />
                    <button>Donate</button>
                </form>
            <% } %>
        <% } %>

        <pre class="debug"><%= JSON.stringify(campaign, null, 2) %></pre>
        -->
        <% include footer.ejs %>
    </body>
</html>