<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>Your Profile - <%= data.user.name %></title>
    </head>
    <body>
        <% include nav.ejs %>
        <div class="sub-nav list">
            <div><a href="/me/campaigns/">your campaigns</a></div>
            <div class="nav-hl"><a href="/me/transactions/">your transactions</a></div>
        </div>
        <div class="list">
            <% transactions.forEach(function (transaction) { %>
                <div class="transaction header box container">
                    <% if (transaction.reason == "[donation]") { %>
                        <h4>donation to <%= transaction.to_name %></h4>
                        <span class="transaction-amount red">- <%= transaction.amount.toLocaleString() %> ISK</span>
                    <% } else if (transaction.reason == "[payin]") { %>
                        <h4>you deposited ISK [Reference ID: <%= transaction.ref_id %>]</h4>
                        <span class="transaction-amount green">+ <%= transaction.amount.toLocaleString() %> ISK</span>
                    <% } else if (transaction.reason == "[payout]") { %>
                        <!-- # this should only appear on entity transaction pages # -->
                    <% } %>
                    <!--<p><%= JSON.stringify(transaction, null, 2) %></p>-->
                </div>
            <% }) %>
        </div>
        <div class="sub-nav list">
            <% if(page > 1) { %>
                <a href="/me/transactions/?page=<%= page - 1 %>">previous</a>
            <% } %>
            <% if(transactions.length == 18) { %>
                <a href="/me/transactions/?page=<%= page + 1 %>">next</a>
            <% } %>
        </div>
        <% include footer.ejs %>
    </body>
</html>