<nav><div class="left-nav">
        <span class="logo">
            <a href="/">
                <b>isk</b>
                <span>starter</span>
            </a>
        </span>
        <span class="links"><a href="/">home</a><span> | </span><a href="/campaigns/">campaigns</a><span> | </span><a href="/rejected/">rejected campaigns</a><% if (data.user.id && data.user.isAdmin) { %><span> | </span><a href="/unapproved/">unapproved campaigns</a><% } %><% if (data.user.id) { %><span> | </span><a href="/logout/">log out</a><% } %></span>
        <span class="total-donated"><%= data.total.toLocaleString() %> ISK total donated</span>
    </div><div class="right-nav">
        <% if (data.user.id) { %>
            <div class="character">
                <b><%= data.user.name %></b>
                <span class="balance"><%= data.user.balance.toLocaleString() %> ISK</span>
                <img src="https://imageserver.eveonline.com/Character/<%= data.user.id %>_64.jpg">
            </div>
        <% } else { %>
            <a href="/login/">log in</a>
        <% } %>
    </div><% if(data.error != "") { %><div class="error"><%= data.error %></div><% } %></nav>