<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>Rejected - Page <%= page %></title>
    </head>
    <body>
        <% include nav.ejs %>
        <div class="sub-nav list">
            <div><a href="/campaigns/">running campaigns</a></div>
            <div class="nav-hl"><a href="/rejected/">rejected campaigns</a></div>
            <% if (data.user.id && data.user.is_admin) { %>
                <div><a href="/unapproved/">unapproved campaigns</a></div>
            <% } %>
        </div>
        <div class="list">
            <% campaigns.forEach(function (campaign) { %>
                <div class="campaign header box list-content">
                    <h4><%= campaign.name %></h4>
                    <p><%= campaign.description%></p>
                    <h4>Rejection Reason:</h4>
                    <p><%= campaign.rejected.description %></p>
                </div>
            <% }) %>
        </div>
        <div class="sub-nav list">
            <% if(page > 1) { %>
                <a href="/rejected/?page=<%= page - 1 %>">previous</a>
            <% } %>
            <% if(campaigns.length == 18) { %>
                <a href="/rejected/?page=<%= page + 1 %>">next</a>
            <% } %>
        </div>
        <% include footer.ejs %>
    </body>
</html>