<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>Unapproved - Page <%= page %></title>
    </head>
    <body>
        <% include nav.ejs %>
        <div class="sub-nav list">
            <div><a href="/campaigns/">running campaigns</a></div>
            <div><a href="/completed/">completed campaigns</a></div>
            <div><a href="/rejected/">rejected campaigns</a></div>
            <% if (data.user.id && data.user.is_admin) { %>
                <div class="nav-hl"><a href="/unapproved/">unapproved campaigns</a></div>
            <% } %>
        </div>
        <div class="list">
            <% campaigns.forEach(function (campaign) { %>
                <div class="list-content campaign header box">
                    <h4><a href="/campaigns/<%= campaign._id %>/" class="nav-hl"><%= campaign.name %></a></h4>
                    <p><%= campaign.description%></p>
                    <form method="POST" action="/campaigns/<%= campaign._id %>/reject/">
                        <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                        <textarea required name="description"></textarea>
                        <button>reject</button>
                    </form>
                    <form method="POST" action="/campaigns/<%= campaign._id %>/accept/">
                        <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                        <button>accept</button>
                    </form>
                </div>
            <% }) %>
        </div>
        <div class="sub-nav list">
            <% if(page > 1) { %>
                <a href="/unapproved/?page=<%= page - 1 %>">previous</a>
            <% } %>
            <% if(campaigns.length == 18) { %>
                <a href="/unapproved/?page=<%= page + 1 %>">next</a>
            <% } %>
        </div>
        <% include footer.ejs %>
    </body>
</html>